.container {
  display: grid;
  height: 100vh;
  place-items: center;
}

.main {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 450px) {
  .main {
    height: 90vh;
    width: 450px;
  }
}

.section {
  display: grid;
  height: 100%;
  place-items: center;
  place-content: center;
}

.title {
  color: #0049ff;
  font-weight: 800;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 20px;
  margin: 0;
}

.login {
  margin-top: 16px;
}
